<div class="resource-container">
    <div class="resource-details">
        <h3>{{name}}</h3>
        <p>Description: {{description}}</p>
        <p>Grade: {{grade}}</p>
        <p>Subject: {{subject}}</p>
        <a href="/users/creator-profile/{{creator._id}}">posted by: {{creator.username}}</a>
    </div>
    <div class="resource-image">
        <object class ="cloud-img" data="{{imageUrl}}" width="100%" height="100%" type="img">
            <iframe id="pdf" src="{{imageUrl}}" >
                It looks like the browser you are using does not support PDFs.
            </iframe>
        </object>
        <br>
    </div>
</div>

