
<h3>{{name}}</h3>
<img src="{{imageUrl}}" alt="Resource Image">
<p>Description: {{description}}</p>
<p>Grade: {{grade}}</p>
<p>Subject: {{subject}}</p>

<p>posted by: {{creator.username}}</p>

{{!-- Figure out how to display any file that is not an image --}}