<h1>All Resources</h1>

<div class="resource-grid">
    {{#each foundResources}}
        <div class="resource-card">
            <h2>{{name}}</h2>
            <p>Description: {{description}}</p>
            <p>Grade: {{grade}}</p>
            <p>Subject: {{subject}}</p>
            <a href="/resources/resource-details/{{_id}}">See details</a>
        </div>
    {{/each}}
</div>
