<h2>Search Results</h2>
{{#each foundResource}}


    <h2>{{name}}</h2>
    
    <p>Description: {{description}}</p>
    <p>Grade: {{grade}}</p>
    <p>Subject: {{subject}}</p>
    <a href="/resources/resource-details/{{_id}}">See details</a>

{{/each}}