
<h2>Resource Details</h2>
<div class="resource-container">
    <div class="resource-details">
        <h3>{{name}}</h3>
        <p>Description: {{description}}</p>
        <p>Grade: {{grade}}</p>
        <p>Subject: {{subject}}</p>
        <a href="/users/creator-profile/{{creator._id}}">posted by: {{creator.username}}</a>
        <br>
    
        <button class="other-buttons">
            <a href="/resources/edit-resource/{{_id}}">Edit</a>
        </button>

        <button class="other-buttons">
            <a href="/resources/delete-resource/{{_id}}">Delete</a>
        </button>
    </div>
    <div class="resource-image">
        <object class ="cloud-img" data="{{imageUrl}}" width="100vw" height="100vh" type="img">
            <iframe id="pdf" src="{{imageUrl}}" >
                It looks like the browser you are using does not support PDFs.
            </iframe>
        </object>
        <br>
    </div>
</div>


