
{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>Email: {{user.email}}</p>
  <p>Grade You Teach: {{user.grade}}</p>
  <p>Your Subject: {{user.subject}}</p>
  <button class="other-buttons">
    <a href="/users/profile">Reload the page</a>
  </button>
  <br>
  <br>
  <button class="other-buttons">
    <a href="/resources/add-resource">Add Resource</a>
  </button>
  

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

{{#each foundResources}}

    <h2>{{name}}</h2>
    
    <p>Description: {{description}}</p>
    <p>Grade: {{grade}}</p>
    <p>Subject: {{subject}}</p>
    <a href="/resources/resource-details/{{_id}}">See details</a>

{{/each}}







